body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-image {
  height: 400px;
  object-fit: cover;
  object-position: center center;
  border-radius: 6px;
}

@media (min-width: 800px) {
  .carousel-image {
    height: 520px;
    margin: 0 auto;
    object-fit: contain;
    object-position: center center;
  }
}
